h1{
  font-family: "Playfair Display", serif;
  font-size: xx-large;
}
h3{
  font-family: "Playfair Display", serif;
  font-size: x-large;
}
p,
a {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: x-large;
}
*{
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: normal;
}
